/* ------------------------------
  Footer
------------------------------ */

.footer-copyright {
  width: 100%;
  margin: 0;
  padding: 18px 0 22px 0;
  background-color: $background-footer;
  text-align: center;
}
