/* ------------------------------
  Grid
------------------------------ */

// Grid Base

.row {
  margin-top: $spacing-medium * -1;
  margin-left: $col-gutter * -1;
  @include clearfix;
  clear: both;
}

.col {
  float: left;
  margin-top: $spacing-medium;
  margin-left: $col-gutter;
  &[class*=" offset-"]{
    min-height: 1px;
  }
}

// Responsive Column

@for $i from 1 through length($col-widths) {
	.col-sm-#{$i} {
		width: nth($col-widths, $i);
	}
}

@for $i from 1 through length($col-widths) {
	@include tablet-and-up {
		.col-md-#{$i} {
			width: nth($col-widths, $i);
		}
	};
}

@for $i from 1 through length($col-widths) {
	@include laptop-and-up {
		.col-lg-#{$i} {
			width: nth($col-widths, $i);
		}
	};
}

// Offset Column

@for $i from 1 through length($col-widths) {
  .offset-#{$i} {
    margin-left: $col-gutter + nth($col-widths, $i);
  }
}
