/* ------------------------------
  Variables - Layout
------------------------------ */

/* ------ Screen Width ------ */

// Breakpoints
$tablet-width  : 768px;
$laptop-width  : 1024px;

// Max Content Width
$max-content-width : 1280px;

/* ------ Grid ------ */

$col-gutter : 3%;
$col-widths : 5.33%,
              13.66%,
              22%,
              30.33%,
              38.66%,
              47%,
              55.34%,
              63.67%,
              72%,
              80.34%,
              88.67%,
              97%;

/* ------ Margin or Padding Spacing ------ */

$spacing-x-large : 50px;
$spacing-large   : 30px;
$spacing-medium  : 20px;
$spacing-small   : 10px;
$spacing-x-small : 5px;
