/* ------------------------------
  Button
------------------------------ */

/* ----- Button Base ----- */

%button-base {
  display: inline-block;
  max-width: 250px;
  margin-bottom: $spacing-small;
  padding: $spacing-small $spacing-medium;
  outline: none;
  border: none;
  border-radius: $radius-default;
  font-size: $font-size-button;
  text-align: center;
  @include tablet-and-up {
    max-width: none;
    margin-right: $spacing-x-small;
    &:last-child {margin-right: 0;}
  };

  // State
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: none;
  }
  &[disabled] {
    cursor: default;
    opacity: 0.4;
  }

  // Size
  &.small {
    padding: $spacing-x-small $spacing-small;
    font-size: $font-size-default;
  }

  // Icon Only
  &.icon-only {
    width: 40px;
    height: 40px;
    padding: $spacing-small;
    font-size: $font-size-large + 2;
    i {vertical-align: text-top;}
    &.small {
      width: 30px;
      height: 30px;
      padding: $spacing-x-small;
      font-size: $font-size-default + 2;
    }
  }
}

/* ----- Button Color ----- */

.button-default {
  @extend %button-base;
  @include button-style($gray-20, $gray-50);
}

.button-primary {
  @extend %button-base;
  @include button-style($color-primary, $white);
}

/* ----- Button & Links Icon  ----- */

button, a {
  &.with-icon {
    &-left  {i {margin-right: $spacing-small;}}
    &-right {i {margin-left: $spacing-small;}}
  }
}

/* ----- Button Group ----- */

.button-group {
  @include clearfix;
  %button-base {
    float: left;
    margin-right: 0;
    border-radius: 0;
    &:first-child {border-radius: $radius-default 0 0 $radius-default;}
    &:last-child  {border-radius: 0 $radius-default $radius-default 0;}
  }
  .button-default {
    @include button-group-style($gray-30, $gray-30, $gray-50);
  }
  .button-primary {
    @include button-group-style($color-primary-d-10, $color-primary-d-10, $white);
  }
}
